/*
 * Copyright (c) 2026
 * SPDX-License-Identifier: MIT
 *
 * ZMK 3x5 Bluetooth Keyboard - User Keymap
 * (Overrides the shield default keymap in config/)
 * Single layer: YUIOP / HJKL; / NM,./
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &kp Y       &kp U       &kp I       &kp O       &kp P
                &kp H       &kp J       &kp K       &kp L       &kp SCLN
                &kp N       &kp M       &kp COMMA   &kp DOT     &kp SLSH
            >;
        };
    };
};
